{{define "bottom"}}
</main>
<footer>
    <div>
        <ul>
            <li><a href="https://github.com/ivanov-slk/tma-dashboard">GitHub</a></li>
        </ul>
    </div>
</footer>
</body>
</html>
{{end}}
