{{define "top"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>The temperature dashboard</title>
    <meta charset="UTF-8"/>
    <meta name="description" content="The temperature dashboard" lang="en"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<main>
{{end}}
