{{template "top" .}}
<div id="metrics">
  <h1>Welcome to the Temperature dashboard!</h1>
  <p>Click the button to see the latest metrics.</p>
  <button
    hx-get="/metrics"
    hx-trigger="click"
    hx-target="#metrics"
    hx-swap="outerHTML"
  >
    Display metrics
  </button>
</div>
{{template "bottom" .}}
